extends main

block head
    - var headData = {title: "Главная"}
    - var breadcrumb = true
    - var index = 'header_index'


block content
    .container
        p Mein Name ist Olena Özman Seit über 12 Jahren übe ich das Handwerk des Nageldesigns aus! Das, was ich anfange, verfolge ich mit großer Leidenschaft. Nichts ist anstrengend oder langweilig, wenn man täglich mit einem Lächeln zur Arbeit gehen darf. Nageldesign ist für mich einfach mehr als nur ein Job! Leidenschaft, Kreativität, Perfektion. Dieser Beruf erfüllt mich total. Mit dieser Einstellung gebe ich im Studioalltag, in meinen Schulungen und meinen Wettkämpfen immer 100% und mehr! In der Zeit meiner beruflichen Entwicklung habe ich unzählige Kurse und Workshops weltweit besucht und tue dies auch immer noch, um auf dem neusten Stand zu bleiben. Heute stelle ich mir als Aufgabe die Nagelwelt auf den Kopf zu stellen! Unsere Branche ist voll mit verschiedenen Schulungen und Weiterbildungen, sodass man sich nicht sicher ist, wofür man sich entscheiden soll! Meine Mission ist es zu helfen und das Verständnis zu entwickeln sich jeder Aufgabe ohne Angst stellen zu können! Anstatt nur gezeigt zu bekommen wie, möchte ich intensive Akzente darauf setzen, warum und wofür! Worauf achtet man, um ein gutes Ergebnis zu bekommen, was sind die häufigsten Fehler und wie vermeidet man selbige? Ich wünsche mir für Sie: ein vollkommenes Verständnis und sofortige Lösungen zu jedem Fall! Einen total ausgebuchten Terminkalender, zufriedene Kunden und Freizeit für sich und Familie! Ich wünsche mir für SIE, im Umgang mit Kunden immer ausgeglichen sein zu können und zu wissen, wie man auf die eigene Gesundheit im Beruf achtet! Viel Spaß in diesem Projekt, denn es kommt vom Herzen, wie kein Anderes!
